###################
# Rythe Generated #
###################

# Rythe library output
include/**
lib/*

# Rythe Precompiled shader files
*.shil

#########
# Build #
#########

# CMake
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CMakeCache.txt
cmake-build-*/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# CMake Tests
CTestTestfile.cmake
DartConfiguration.tcl
unit_tests_*.cmake
Testing/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Executables
*.exe
*.out
*.app

#############
# Platforms #
#############

# Windows

# Linux

# MacOS
*.DS_Store
*.sb-*

#############
# Compilers #
#############

################
# IDEs/Editors #
################

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.vs/

# Visual Studio Code
.vscode/

# CLion
*.idea/

# XCode
*.xcodeproj/
XCBuildData/

########
# Misc #
########

# Mono
mono_crash.*
vm/**

# Word temporary files
~$*.*

# Dear Imgui
imgui.ini