[submodule "rythe/engine/core"]
	path = rythe/engine/core
	url = https://github.com/Rythe-Interactive/Rythe-Core.git
[submodule "rythe/engine/application"]
	path = rythe/engine/application
	url = https://github.com/Rythe-Interactive/Rythe-Application.git
[submodule "rythe/engine/graphics"]
	path = rythe/engine/graphics
	url = https://github.com/Rythe-Interactive/Rythe-Graphics.git
[submodule "rythe/engine/audio"]
	path = rythe/engine/audio
	url = https://github.com/Rythe-Interactive/Rythe-Audio.git
