name: Build-CI

on:
  push:
    branches: [develop, develop/*]
  pull_request:
    branches: [ develop, develop/* ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: get premake5
      run: |
       wget -qO- https://github.com/premake/premake-core/releases/download/v5.0.0-alpha15/premake-5.0.0-alpha15-linux.tar.gz | \
       tar xvz premake5 | \
       xargs -I"{}" sudo mv {} /usr/bin
       
    - name: generate Makefiles
      run: premake5 gmake

    - name: make
      run: make CXX=clang++-9 config=Debug64 all
